cat <<EOL > .gitignore
# macOS
.DS_Store

# Xcode
*.xcworkspace
*.xcuserstate
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
.idea/
DerivedData/

# SwiftPM
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# Others
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
EOL
